<!-- <p class="text-center text-white mb-0 p-4 bg-dark">Socialize <span>&#169;</span> 2020</p> -->



<!-- <footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
      <p class="text-center">Socialize <span>&#169;</span> 2020</p>
    </div>
  </footer>
    -->
    <section id="footer" class="mt-5">
        <!-- changes done by dv-here -->
  
        <div class="progress" style="height: 5px;">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            style="width: 100%;"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div>
            <p class="text-center">Socialize <span>&#169;</span> 2020</p>
        </div>
    </section>
</body>
</html>