<%- include('partials/header') %> 

    <div class="container">
        <h2 class="text-center mt-5">New Post</h2>
    <div class="form mt-1 w-75">
        <form action="/home" method="POST">
            <input class="form-control" type="text" name="image" id="" placeholder="Enter image url"><br>
            <textarea class="form-control" name="caption" cols="30" rows="10" maxlength="500" placeholder="Enter caption"></textarea><br>
            <button class="btn btn-md btn-outline-secondary btn-block" type="submit">Post</button>
        </form>
    </div>
    </div>

<%- include('partials/footer') %> 