<%- include('partials/header') %> 

<div class="container mx-auto mt-5 show-content">
    <div class="container mx-auto">
        <h1>This post is by user</h1>
        <img src="<%=post.image %> " class="img-fluid rounded d-block show-img" alt="">
        <p class="text-justify"><%= post.caption %> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium nam dicta quia repellendus sunt fugiat voluptatum consequuntur, quae ea nihil? Nemo dicta dolores consequuntur quaerat minus commodi et odit. </p>
    </div>


</div>

<%- include('partials/footer') %> 