*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    max-height: 100vh;
    margin: 0;
}

.form{
    width: 40%;
    margin: auto;
}
.thumbnail{
    margin:auto;
}
.show-content{
    width: 60%;
    margin: auto;
}
.show-img{
    width: 75%;
}
.comment-section{
    width: 90%;
    margin: auto;
}
div.user-det:nth-child(2n+1){
    background: #f7f7f7;
}
.comment-text{
    word-wrap: break-word;
}
#like-icon{
    color:red;
    text-decoration: none;
}
#comment-icon{
    color:skyblue ;
    text-decoration: none;
}
#profile-icon{
    color: darkcyan;
    text-decoration:none;
}
#date-icon{
    color:salmon;
}
div.response{
    display: flex;
    justify-content: space-around;
}
.posts{
    background: rgb(230, 216, 216);
}
.follower_name:nth-child(2n+1),
.following_name:nth-child(2n+1){
    background: #f7f7f7;
}
.modal-dialog{
    top: 20%;
}
@media (min-width: 768px) {
    #footer:{
        top: -50%;
    }
}