*{
    scroll-behavior: smooth;
}
.form{
    width: 40%;
    margin: auto;
}
.thumbnail{
    width: 50%;
    margin:auto;
}
.show-content{
    width: 60%;
    margin: auto;
}
.show-img{
    width: 700px;
}
.comment-section{
    width: 90%;
    margin: auto;
}
div.user-det:nth-child(2n+1){
    background: #f7f7f7;
}
.comment-text{
    word-wrap: break-word;
}
#like-icon{
    color:grey;
    text-decoration: none;
   
}
#like-icon:hover{
    color:red;
}
#comment-icon{
    color:grey;
    text-decoration: none;
}
#comment-icon:hover{
    color:skyblue 
}